<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Danny" content="Skip Trace Analytics">
    <meta name="description" content="This explains the steps involved in Analysis after upload is done">
    <title>Analysis Procedures</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'analytics/main.css' %}" type="text/css">
</head>

<body>
    <h1>Analysis Procedures</h1>
    <hr>
    <p>
        This page outlines the steps involved in analyzing the uploaded Excel file in the Skip Trace Analytics application.
    </p>

    <h2>Steps for Analysis</h2>
    <ol>
        <li><strong>Upload File:</strong> The user uploads an Excel file containing geographical coordinates.</li>
        <li><strong>Data Processing:</strong> The application processes the uploaded file to extract and analyze the coordinates.</li>
        <li><strong>Analysis Method:</strong> The user selects an analysis method (e.g., clustering, heatmap generation).</li>
        <li><strong>Results Generation:</strong> The application generates results based on the selected analysis method.</li>
        <li><strong>Download Processed File:</strong> The user can download the processed file containing the analysis results.</li>
        <li><strong>Review Results:</strong> Paste the most frequent cordinates generate by the pivot table on the <a href="https://www.google.com/maps/@0.3407872,32.5915403,4347m/data=!3m1!1e3!5m1!1e2?authuser=0&entry=ttu&g_ep=EgoyMDI1MDYyNi4wIKXMDSoASAFQAw%3D%3D"><em>google maps</em></a> to validate see the satelite location, ensure that you choose location which are not on the road </li>
    </ol>

    <p>
        For more information, please refer to the documentation or contact support.
    </p>

    <hr>
    &lt;&lt;&lt; &copy; Watu Africa &copy; &gt;&gt;&gt;
    
</body>
</html>